NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_API_URL=http://localhost:5000/api/v1
ADMIN_AUTH_LOGIN_ENDPOINT=/auth/login
ADMIN_AUTH_LOGOUT_ENDPOINT=/auth/logout
ADMIN_AUTH_SESSION_ENDPOINT=/user/me
